<div class="container">
  <div class="hero-unit">
    <form action="/logout" method="get">
      <input class="btn btn-danger" type="submit" value="Logout">
    </form>

    <div class="welcome">
      <h2>Welcome, <%= current_user.first_name %>, to your kickass profile page! </h2>
    </div>

    <div class="create">
      <h3> Create a blog post! <h3>
        <form action="/create_post" method="post">
          <input type="text" name="title" placeholder="Title"><br>
          <textarea cols="10" rows="10" name="content">
          </textarea><br>
          <input type="text" name="tag" placeholder="List your post tags here"><br>
          <input class="btn btn-primary" type="submit" value="Submit">
        </form>
    </div>
  </div>
  
  <% if @posts.any? %>
    <div class="tags">
      <h2>Here are categories you've kicked the asses of previously:<h2>
        <ul>
          <% @tags.each do |tag| %>
          <li>
            <h4>
              <a href='/tag/<%= tag.id %>'><%= tag.name %>
              </a>
            </h4>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

